doctype html
html
  head
    title="Welcome to Howard PACE"
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0 user-scalable=no')
    link(rel='shortcut icon', href='../assets/img/hufavicon.ico', type='image/x-icon')
    //- External styling and dependencies (BootstrapCSS and FontAwesome)
    link(rel='stylesheet', href='../css/bootstrap.min.css')
    link(rel='stylesheet', href='../assets/font-awesome/css/font-awesome.min.css')
    //- User Styling
    link(rel='stylesheet', href='../css/agency.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Montserrat:400,700' type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Kaushan+Script' type='text/css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,700italic' type='text/css')
    link(rel="stylesheet", href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' type='text/css')
  body.index#page-top
    nav(style='background-color: black;').navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header.page-scroll
          button(type='button' data-toggle='collapse' data-target='#bs-example-navbar-collapse-1').navbar-toggle
            span.sr-only
              | Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a(href='#page-top').navbar-brand.page-scroll
            | Howard PACE
          a(href='#page-top')
            img(width='50' height='50' src='../assets/img/howard-logo.png')
        .collapse.navbar-collapse#bs-example-navbar-collapse-1
          ul.nav.navbar-nav.navbar-right
            li.hidden
              a(href='#page-top')
            li
              a(href='#about').page-scroll
                | About Us
            li
              a(href='#pace').page-scroll
                | PACE
            li
              a(href='#projects').page-scroll
                | Projects
            li
              a(href='#contact').page-scroll
                | Contact Us
    header
      .container
        .intro-text
          .intro-lead-in(style='color: black;')
            | Welcome To Howard University PACE
          .intro-heading
            |___
          a(href='#about').page-scroll.btn.btn-xl
            | Learn more about us
    section#about
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading
              | About
            h3
              | Here's more about us
    section#pace
      .container
        .row
          .col-lg-12.text-center
            h2.section-header
              | P.A.C.E
            h3.section-subheading.text-muted
              | Partners for the Advancement of Collaborative Engineering Education
    section#projects
      .container
        .row
          .col-lg-12.text-center
            h2.section-header
              | Projects
            h3.section-subheading.textmuted
              | Here's what we're currently workig on!
    section#contact
      .container
        .row
          .col-lg-12.text-center
            h2.section-heading
              | Contact us
        .row
          .col-lg-12
            .form(name='sentMessage' novalidate)#contactForm
              .row
                .col-md-6
                  .form-group
                    input(type='text' placeholder='Your Name ' required data-validation-required-message='Please enter your name').form-control#name
                    p.help-block.text-danger
                  .form-group
                    input(type='email' placeholder='Your Email' required data-validation-required-message='Please enter your email').form-control#email
                    p.help-block.text-danger
                  .form-group
                    input(type='tel' placeholder='Your Phone Number' required data-validation-required-message='Please enter your phone number').form-control#phone
                    p.help-block.text-danger
                .col-md-6
                  .form-group
                    textarea(type='text' placeholder='Your Message' required data-validation-required-message='Please enter your message').form-control#message
                    p.help-block.text-danger
                .clearfix
                .col-lg-12.text-center
                  #success
                  button(type='submit').btn-btn-xl
                    | Send Message
    footer
      .container
        .row
          .col-md-12
            span.copyright
              | Copyright &copy; CLDC 2015
      script(src='js/jquery.js')
      script(src='js/bootstrap.min.js')
      script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js')
      script(src='js/classie.js')
      script(src='js/cbpAnimatedHeader.js')
      script(src='js/jqBootstrapValidation.js')
      script(src='js/contact_me.js')
      script(src='js/agency.js')

